  body {
    max-width: 320px;
    margin: auto;
    background: #759b84;
  }

  html {
    background-image: url(../img/background.jpg);
    background-size: cover;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h2, 
  h3 {
    font-family: "quatro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #35423d;
    margin: 0;
  }

  p,
  a {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
  }

  h2:last-of-type,
  h3 {
    padding-bottom: 5px;
  }

  .img-centred {
    width: 235px;
    height: 340px;
    margin: auto;
    padding-top: 20px;
  }

  header {
    background: #8a9885;
    text-align: center ;
    padding-bottom: 25px;
  }

  main,
  footer,
  header {
    padding: 10px;
  }

  footer,
  .blockheader {
    background: #35423d;
  }
  
  .blockheader {
    border-radius: 15px;
    padding: 20px;
    margin: 2px;
  }

  .nav-header .container {
    display: flex;
    justify-content: space-between;
    font-size: x-small;
  }

  .element-nav {
    background-color: #d1a28b;
    border-radius: 15px;
  }

  .element-nav,
  footer div,
  .video-link {
    padding: 4px;
    margin: 2px;
  }

  footer div {
    background: #8a9885;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
  }

  footer img {
    width: 110px;
    height: 66px;
    margin: auto;
  }

  .legends-img {
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
    font-style: italic
  }

 .video-link {
    border: 3px solid #e2c09a;
    font-size: 13px;
  }

  hr {
    border: 1px solid black;
  }

  a {
    text-decoration: none;
  }

  a:active,
  footer a,
  h {
    color: #bfe3eb;
  }

  .video-link a {
    color: #d1a28b;
  }

  .highlighting,
  a,
  .legends-img {
    color: #f2c0af;
  }

  .highlighting-legend,
  p,
  .element-nav a,
  .highlighting-legend a {
    color: #330800;
  }

  .highlighting-legend a {
    font-style: italic;
  }

  p {
    font-size: 14px;
  }
