body {
  max-width: 320px;
  margin: auto;
  background: #759b84;
  border: 2px solid black;
  padding: 5px;
}

img {
  display: block;
  max-width: 100%;
}

h1, 
h2 {
  font-family: "quatro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #35423d;
  }

h2 {
  color: #bfe3eb;
  margin: 0;
}
  
 .img-centree {
  width: 235px;
  height: 340px;
  margin: auto;
  padding-top: 20px;
 }

  p,
  a {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  header {
    background: #8a9885;
    text-align: center ;
    padding: 10px;
    padding-bottom: 25px;
  }

  footer {
    background: #35423d;
    padding: 10px;
  }
  
 .test {
  background-color: #35423d;
  border-radius: 15px;
  padding: 20px;
  margin: 2px;
 }

 .nav-header .container {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
 }

 .element-nav {
  background-color: #d1a28b;
  border-radius: 15px;
  padding: 4px;
  margin: 2px;
 }

footer div {
  background: #8a9885;
  border-radius: 15px;
  padding: 4px;
  margin: 2px;
  text-align: center;
  font-size: 13px;
  color: #bfe3eb;
 }

 footer img {
  width: 110px;
  height: 66px;
  margin: auto;
 }

 footer p:last-of-type {
 color: #35423d;
 }

 .legendes-img {
  font-size: 12px;
  text-align: center;
  color: #f2c0af;
  padding-top: 2px;
 }

 .video-link {
  border: 3px solid #e2c09a;
  padding: 4px;
  margin: 2px;
  color: #d1a28b;
  font-size: 13px;
 }

hr {
  border: 1px solid black;
}

